body {
    font-family: Arial; font-size: 12pt; color: black;
    /*background-image: url('/img/RepeatImg.png');*/
    background-image: url('/img/BackgroundImage2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 15 px;
}

body div {
    margin-left: 200px;
    margin-right: 200px;
    background-image: url('/img/BackgroundImage3.png');
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
    position: absolute;
}

#btnControl {
    display: none;
    
}

#btnControl:checked + label > img {
    width: 500px;
    height: 473px
}

hr {
    height: 5px;
    margin-left: -30px;
    margin-right: -30px;
    background-color: black;
}

p {
    margin-top: .75em;
    margin-bottom: .75em;
}

h1, h2 {
    margin-top: 0.75em;
    margin-bottom: 0.1em;
}

h1 {
    font-family: cursive;
}

img.Me {
    float: right;
    padding: 5px;
    background-color: white;
    box-shadow: 5px 5px black;
    /* max-width: 100%; */
    /* height: auto; */
}

h1.PageTitle span {
    font-size: 30pt;
    text-decoration-line: underline;
    background-image: url('/img/BackgroundImage4.png');
}

span {
    color: black; 
    padding-left: 10px;
}

.poem {margin-left: 30px;}

table.ClassTable {
    width: 600px;
    border-spacing: 2px;
    background-color: white;
    table-layout: fixed;
}

table.ClassTable th {
    color: rgb(30, 220, 245);
    text-shadow: 1px 1px 3px rgb(9, 129, 177) ;
}

tr.TableHeader * {
    width: 120px;
}

td.CS2420 {
    background-color: rgb(228, 135, 220);
    border: 2px solid rgb(201, 89, 191) ;
}

td.Work {
    background-color: rgb(233, 221, 152);
    border: 2px solid rgb(197, 179, 74) ;
}

td.CS2550 {
    background-color: rgb(255, 200, 97);
    border: 2px solid rgb(212, 160, 62);
}

td.PES1130 {
    background-color: pink;
    border: 2px solid rgb(214, 116, 132);
}

td.CS2600 {
    background-color: rgb(109, 212, 243);
    border: 2px solid rgb(76, 170, 199);
}

table.ClassTable tr:nth-child(even) {
    background-color: rgb(175, 170, 170);
}

table.ClassTable tr:nth-child(odd) {
    background-color: rgb(214, 212, 212);
}

th caption {
    text-align:center;
}

/* table, th, td {
    border: 1px solid black;
} */

th, td {
    padding: 3px;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: underline;}